<ion-view view-title="הזנת נתונים">
    <ion-content class="customBackground has-footer">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="div90">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">הכנסות סוף יום</span>
                <input type="number" ng-model="accounting.income">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">הוצאות סוף יום</span>
                <input type="number" ng-model="accounting.expenses">
            </label>
            <div style="text-align: center;font-size: 20px;direction: rtl;margin-bottom: 17px;border-bottom: 2px solid #00d893;padding-bottom: 14px;">
                רשימת עובדים:
            </div>
            <div>
                <div ng-if="activeEmployees.length == 0" class="noResultsTitle">אין תוצאות</div>

            <div  ng-if="activeEmployees.length > 0" ng-repeat="employee in activeEmployees | orderBy: '-index'">

                <div ng-click="showLocation(employee)" class="employeesRow">

                    <div class="employeesRowIcon">
                        <img src="img/avatar_black.png" height="40">
                    </div>

                    <div class="employeesRowName">{{employee.employee.firstname}} {{employee.employee.lastname}}</div>

                    <div class="employeesOptions" style="float:left;">
                        <span ng-if="employee.status == 'active'" style="color: #01D894;">פעיל</span>
                        <span ng-if="employee.status == 'inactive'">לא פעיל</span>
                    </div>



                </div>

                <div class="rowSeparator"></div>

            </div>
            </div>


        </div>

    </ion-content>
    <ion-footer-bar class="p0">
      <!--change here-->
      <div class="greenFooter" ng-if="local_income == null" ng-click="sendAccounting()">שלח</div>
      <!--change here-->
      <div class="greenFooter" ng-if="local_income != null" ng-click="updateAccounting()">עדכן</div>
    </ion-footer-bar>
</ion-view>
