<ion-view view-title="רשימת עובדים">
    <ion-content class="customBackground has-footer">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

            <div class="row100">
                <input type="search" ng-model="search" class="employeesSearch" placeholder="חיפוש">
            </div>

            <div ng-if="activeEmployees.length == 0" class="noResultsTitle">אין תוצאות</div>

            <div  ng-if="activeEmployees.length > 0" ng-repeat="employee in activeEmployees | orderBy: '-index'">

                <div class="employeesRow" ng-click="showEmployeePopover($event, employee)">

                    <div class="employeesRowIcon">
                        <img src="img/avatar_black.png" height="40">
                    </div>

                    <div class="employeesRowName">{{employee.employee.firstname}} {{employee.employee.lastname}}</div>

                    <div class="employeesOptions">
                        <span ng-if="employee.status == 'active'" style="color: #01D894;">פעיל</span>
                        <span ng-if="employee.status == 'inactive'">לא פעיל</span>
                    </div>

                    <div class="employeesOptions">
                        <img src="img/menu.png" style="width: 60%;max-width: 46px;">
                    </div>

                </div>

                <div class="rowSeparator"></div>

            </div>

    </ion-content>
    <ion-footer-bar class="p0 bar-footer">
        <div class="greenFooter" ng-click="sendExcel()">ייצא דו״ח שעות</div>
    </ion-footer-bar>
</ion-view>