<ion-view view-title="הכנסות">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div ng-if="income.length == 0" class="noResultsTitle">אין תוצאות</div>

        <div ng-show="income.length > 0" class="row100">
            <div class="incomeHeaderDesc">תיאור</div>
            <div class="incomeHeaderAmount">עלות</div>
        </div>

        <div ng-show="income.length > 0" ng-repeat="row in income">

            <div class="row100" style="position: relative;" ng-click="toggleGroup(row.index)">

                <div class="incomeTrash" ng-click="openDeletePopup(row.index); $event.stopPropagation();"><i class="icon ion-ios-trash"></i></div>

                <div class="incomeDesc">{{row.desc}}</div>

                <div class="incomeAmount">{{row.amount | currency : '' : 2}} ₪</div>

                <i class="icon ion-person" style="position: absolute; bottom: 3px; left: 5px;" ng-if="row.from_employee == '1'"></i>

            </div>

            <div class="rowSeparator"></div>

            <div style="    background-color: rgb(236, 236, 236);" class="row100 rtl" ng-show="row.index == active">

                <div class="row100">
                    <div class="incomeDetailsRight"><span>תיאור:</span></div>
                    <div class="incomeDetailsLeft">{{row.desc}}</div>
                </div>

                <div class="row100">
                    <div class="incomeDetailsRight"><span>עלות:</span></div>
                    <div class="incomeDetailsLeft">{{row.amount | currency : '' : 2}} ₪</div>
                </div>

                <div class="row100">
                    <div class="incomeDetailsRight"><span>תאריך:</span></div>
                    <div class="incomeDetailsLeft">{{row.date}}</div>
                </div>

                <div class="row100" ng-if="row.from_employee != '0'">
                    <div class="incomeDetailsRight"><span>העובד:</span></div>
                    <div class="incomeDetailsLeft">{{row.employee.firstname}} {{row.employee.lastname}}</div>
                </div>

            </div>

        </div>

    </ion-content>

    <div style="position: absolute; bottom: 10px; left:20px; text-align: left;">
        <i class="icon ion-android-add-circle" style="font-size: 60px; color: #01D894;" ng-click="openIncomeModal()"></i>
    </div>

</ion-view>