<ion-view view-title="הרשאות">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div ng-if="permissions.length == 0" class="noResultsTitle">אין תוצאות</div>

        <div ng-if="permissions.length > 0" ng-repeat="employee in permissions">

                <div class="permissionsRow">

                    <div class="permissionsRowIcon">
                        <img src="img/avatar_black.png" height="40">
                    </div>

                    <div class="permissionsRowName">{{employee.employee.firstname}} {{employee.employee.lastname}}</div>

                    <div class="permissionsRowButton" ng-click="updatePermission(employee.employee.index, 0)" ng-class="{permissionsRowButtonBlack : employee.employee.can_add_expenses == '0'}">
                        <div>לא רשאי</div>
                        <div>להזין נתונים</div>
                    </div>

                    <div class="permissionsRowButton" ng-click="updatePermission(employee.employee.index, 1)" ng-class="{permissionsRowButtonGreen : employee.employee.can_add_expenses == '1'}">
                        <div>רשאי</div>
                        <div>להזין נתונים</div>
                    </div>

                </div>

                <div class="rowSeparator"></div>

            </div>

    </ion-content>
</ion-view>