<ion-view view-title={{title}}>
    <ion-nav-buttons side="right"></ion-nav-buttons>
    <ion-content class="has-footer customBackground registerPoints">

        <!--Employee registration-->

        <div class="registerSteps">
            <div class="registerSteps1">
                <div class="registerStepInactive">1</div>
            </div>
            <div class="registerStepsLine1"></div>
            <div class="registerSteps2">
                <div class="registerStepInactive">2</div>
            </div>
            <div class="registerSteps3">
                <div class="registerStepActive">3</div>
            </div>
        </div>

        <div class="div90">

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label"><span>האם עלית בשנים האחרונות?</span></div>
                    <select ng-model="points.ole_hadash">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <div style="text-align: right;margin-top: 0;padding-right: 13px;" ng-if="employee.point.children_quantity != '0'">
                    <span>*אדם שעלה לארץ ב7 שנים האחרונות נחשב כעולה חדש.</span>
                </div>

                <label class="item item-input item-select">
                    <div class="input-label"><span>חייל</span></div>
                    <select ng-model="points.soldier">
                        <option value="0">כן</option>
                        <option value="1">משוחרר ותיק (יותר משנתיים)</option>
                        <option value="2">משוחרר טרי (פחות משנתיים)</option>
                        <option value="3">לא רלוונטי</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>שירות לאומי</span></div>
                    <select ng-model="points.national_service">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>בעל תואר ראשון</span></div>
                    <select ng-model="points.bachelor">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>בעל תואר שני</span></div>
                    <select ng-model="points.master">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>בעלת תואר שלישי</span></div>
                    <select ng-model="points.doctor">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooter" ng-click="sendPoints()">המשך</div>
    </ion-footer-bar>
</ion-view>