<ion-view view-title={{title}}>
    <ion-nav-buttons side="right"></ion-nav-buttons>
    <ion-content class="has-footer customBackground registerPoints">

        <!--Employee registration: points-->

        <div class="registerSteps">
            <div class="registerSteps1">
                <div class="registerStepInactive">1</div>
            </div>
            <div class="registerStepsLine1"></div>
            <div class="registerSteps2">
                <div class="registerStepActive">2</div>
            </div>
            <div class="registerSteps3">
                <div class="registerStepInactive">3</div>
            </div>
        </div>

        <div class="div90">

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label"><span>מין</span></div>
                    <select ng-model="points.gender">
                        <option value='null'>לא הוגדר</option>
                        <option value="1">זכר</option>
                        <option value="0">נקבה</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>מצב משפחתי</span></div>
                    <select ng-model="points.family_status">
                        <option value="0">רווק</option>
                        <option value="1">נשוי</option>
                        <option value="2">גרוש</option>
                        <option value="3">אלמן</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>האם הינך מתנדב בתנועת נוער?</span></div>
                    <select ng-model="points.young_volunteer">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>מספר ילדים עד גיל 18</span></div>
                    <select ng-model="points.children_quantity">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                </label>

                <label class="item item-input item-select" ng-if="points.children_quantity != '0'">
                    <div class="input-label"><span>האם הילדים באחזתך?</span></div>
                    <select ng-model="points.children_possession">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select" ng-if="points.children_quantity != '0' && (points.family_status == '0' || points.family_status == '2') && points.children_possession == '0'">
                    <div class="input-label"><span>האם אתה משלם מזונות לבת זוגך לשעבר</span></div>
                    <select ng-model="points.alimony">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select" ng-if="points.children_quantity != '0'">
                    <div class="input-label"><span>האם ילדך מתחת לגיל 18 וסובל מאחד מהמצבים הבאים?</span></div>
                    <select ng-model="points.children_invalids">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0 bar-footer">
        <div class="greenFooter" ui-sref="app.register_points2({role: 1})">המשך</div>
    </ion-footer-bar>
</ion-view>