<ion-view view-title="סטטיסטיקות">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="row100">

            <div class="statsCard">
                <div class="statsCardHeader">סיכום חודשי</div>
                <div class="statsGreenSeparator"></div>
                <div>
                    <img src="img/arrow.png" height="14">
                    <span>{{statistics.top.month | currency : '' : 2}} ₪</span>
                </div>
            </div>

            <div class="statsCardSeparator">&nbsp;</div>

            <div class="statsCard">
                <div class="statsCardHeader">סיכום חצי שנתי</div>
                <div class="statsGreenSeparator"></div>
                <div>
                    <img src="img/arrow.png" height="14">
                    <span>{{statistics.top.half | currency : '' : 2}} ₪</span>
                </div>
            </div>

            <div class="statsCardSeparator">&nbsp;</div>

            <div class="statsCard">
                <div class="statsCardHeader">סיכום שנתי</div>
                <div class="statsGreenSeparator"></div>
                <div>
                    <img src="img/arrow.png" height="14">
                    <span>{{statistics.top.year | currency : '' : 2}} ₪</span>
                </div>
            </div>

        </div>
<div style="
    text-align: right;
    direction: rtl;
    font-size: 14px;
    padding: 13px;
    padding-bottom: 0px;
    padding-right: 20px;
    font-weight: 700;
">גרף רווחים:</div>
        <div class="statsGraph">
            <div area-chart=""
                 area-data=statistics.graph
                 area-xkey='x'
                 area-ykeys='["y"]'
                 area-labels='["Serie A"]'
                 line-colors='["#01D894"]'
                 area-smooth="false"
                 area-hide-hover="'always'"
                 area-fill-opacity="0"
            ></div>
        </div>


        <div class="row100">
            <div class="statsCircles" align="left" ui-sref="app.employees">
                <div class="statsCircle">
                    <div class="statsCircleText">עובדים פועלים</div>
                    <div class="statsCircleNumber" style="color: #01D894;">{{statistics.numbers.workers}}</div>
                </div>
            </div>
            <div class="statsCircles" align="right" ui-sref="app.expenses">
                <div class="statsCircle">
                    <div class="statsCircleText">הוצאות קבועות</div>
                    <div class="statsCircleNumber" style="color: #01D894;">{{statistics.numbers.expenses}}</div>
                </div>
            </div>
        </div>

        <div class="row100">
            <div class="bigAttendanceHeader">תאריך</div>
            <div class="bigAttendanceHeader">הכנסות</div>
            <div class="bigAttendanceHeader">הוצאות</div>
            <div class="bigAttendanceHeader">סיכום</div>
        </div>

        <div ng-repeat="row in statistics.table">

            <div class="row100">
                <div class="bigAttendanceFieldGrey">{{row.month}}</div>

                <div class="bigAttendanceFieldWhite">{{row.income | currency : '' : 2}} ₪</div>

                <div class="bigAttendanceFieldGrey">{{row.expenses | currency : '' : 2}} ₪</div>

                <div class="bigAttendanceFieldWhite">{{row.outcome | currency : '' : 2}} ₪</div>
            </div>

            <div class="rowSeparator"></div>

        </div>


    </ion-content>
</ion-view>