<ion-view view-title="תקנון שימוש">
    <ion-content>

        
        <div class="div90" style="text-align: justify;text-align: right;direction: rtl;">

<p style="text-align: center"><strong><u style="text-align:center;">אפליקציית נוכחות בעבודה &ndash; מבוססת מיקום (לעובדים ומעבידים) </u></strong></p>
<p><strong><u>כללי </u></strong></p>
<p>אפליקציית "ביזי" &nbsp;הינה אפליקציית נוכחות אינטרנטית מבוססת מיקום.</p>
<p>האפליקציה מאפשרת דיווח, ניהול ובקרה של&nbsp; שעות העבודה ישירות מהטלפון הסלולארי.</p>
<p>האפליקציה חוסכת זמן ועלויות, מאפשרת מעקב אחרי שעות עבודה, ימי עבודה , חיסורים מהעבודה, מיקומי GPS במהלך שעות עבודה לרבות בכניסה וביציאה מהעבודה, דיווחי חופשות ומחלות.</p>
<p>האפליקציה מאפשרת מעקב אחר תקבולי עסק וחישובי שכר עבודה. בכל הנוגע לאלו לקבלת תוצאות מדויקות יש להתייעץ עם רו"ח או עו"ד.</p>
<p>&nbsp;</p>
<p><strong><u>האפליקציה כוללת ( באופן מובנה ו/או באמצעות הזנה) </u></strong></p>
<ul>
<li>פרטי מעסיק<u>.</u></li>
<li>פרטי העובד .</li>
<li>שעת כניסה ו/או התחלה של יום עבודה.</li>
<li>שעת סיום יום עבודה.</li>
<li>רישומי שעות עבודה.</li>
<li>מיקומים במהלך יום העבודה.</li>
<li>מידע, חישובים וכלים לעובדים ומעבידים .</li>
<li>עדכונים מידיים על איחורים, היעדרויות, הפסקות בעבודה.</li>
<li>התממשקות למערכות הנוכחות הקיימות בעסק,</li>
<li>השתלבות אינטגרלית בתהליך איסוף, עיבוד, חישובי השכר, חישובי תקבולים בעסק.</li>
<li>דוחות במגוון חיתוכים.</li>
</ul>
<p>האפליקציה מבוססת מיקום ומאפשרת לדעת איפה נמצא כל אחד מהעובדים החל מרגע הכניסה אליה ועד סיום יום העבודה.</p>
<p>העובד והמעביד רואים בזמן אמת את הדיווחים.</p>
<p><strong>לצורך הפעלת האפליקציה נדרשת גישה לאינטרנט.</strong></p>

<p><strong><u>תנאי שימוש ותקנון</u></strong></p>
<ol>
<li>תנאי השימוש מסדירים את היחסים בין השותפים גיא ספיר, אביעד יוסף ו/או השותפות "ביזי", בעלי הזכויות באפליקציה ( להלן: "<strong>המפעילים</strong>" ) לבין כל אדם, חברה או תאגיד שיעשו שימוש באפליקציה (להלן :"<strong>המשתמש</strong>" ו/או "<strong>המשתמשים</strong>").</li>
<li>הוראות הסכם זה חלות על כל השימושים מכל סוג שהוא באפליקציה.</li>
<li>למפעילים שמורה הזכות לשנות הסכם זה מעת לעת לפי שיקול דעתם וללא הודעה מוקדמת מראש למשתמשים, לעדכן את תנאי השימוש באפליקציה, להשעות או להפקיע את תנאי שימוש בדפים, פרטים או מידע (להלן "<strong>השינויים"</strong>). השינויים יחייבו את כל המשתמשים באפליקציה מרגע פרסומם באפליקציה.</li>
<li>המפעילים שומרים לעצמם את הזכות, לפי שיקול דעתם הבלעדי וללא צורך במתן הודעה מוקדמת מראש לסגור את האפליקציה.</li>
<li>האפליקציה מיועדת למתן שירות ואינה אפליקציית מכירות. המפעילים אינם מוכרים ולא יחשבו כמוכרים ו/או כמציעים למכירה כל מידע או מוצרים למשתמשים</li>
<li>השימוש באפליקציה מיועד לשימושם הפרטי בלבד של המשתמשים ולא לשימוש מסחרי.</li>
<li>בכניסה לאפליקציה ו/או בשימוש בשירותים, ביישומים ו/או במידע המוצגים ו/או ניתנים באמצעותה, מצהירים המשתמשים כי קראו את תנאי השימוש המפורטים להלן, הם מסכימים להם ומתחייבים לקיים אותם בדרך מקובלת ובתום לב, על פי הדין ו/או החוק.</li>
<li>מעבידים המשתמשים באפליקציה מתחייבים להבהיר לעובדים מטעמם את הוראות השימוש ואופני השימוש באפליקציה ואת הנתונים שיתקבלו אצלם (אצל המעבידים) באמצעות השימוש האפליקציה.</li>
<li>בעצם שימושם באפליקציה נותנים בזאת העובדים הסכמה למסור למעבידים את הנתונים שיתקבלו באמצעותה.</li>
<li>על המעבידים המשתמשים באפליקציה מוטלת החובה להשתמש בה בהתאם לדין ו/או לחוק ולידע את העובדים בין השאר בעובדה כי שירותי המיקום הניתנים באמצעותה מוגבלים לימי ושעות העבודה בלבד.</li>
<li>על מעבידים המשתמשים באפליקציה החובה שלא לעשות שימוש בשירותיה לרבות שירותי המיקום הניתנים באמצעותה אלא במהלך ימי ושעות העבודה בלבד ולצרכיהם החוקיים כמעבידים.</li>
<li>העובדים המשתמשים באפליקציה נותנים בזה את הסכמתם לעדכוני מיקום במהלך ימי ושעות העבודה בלבד ולא יטענו כל טענות נגד המפעילים ו/או המעבידים ולרבות אך לא למעט טענות בגין פגיעה בפרטיותם.</li>
<li>המשתמשים באפליקציה מצהירים כי בדקו את השירותים והמידע שהיא מספקת בטרם התקשרותם בהסכם זה ומצאו כי הם מתאימים לצרכיהם ולשימושיהם כמות שהיא.</li>
<li>המשתמשים מצהירים כי המפעילים אינם אחראים לשימושים שהם ו/או מי מטעמם עושים באפליקציה.</li>
<li>על המשתמשים באפליקציה חל איסור לבצע באפליקציה שינויים כלשהם ו/או לעשות בה שימוש לרעה ו/או לעשות בה שימוש הגורם נזק.</li>
<li>המפעילים אינם אחראים לפגיעה ו/או לאובדן של חומר כלשהו שהועבר, נשלח, הועלה לאפליקציה או באמצעותה. אין למפעילים אחריות כלשהי לכל טעות, פגם , הפסד, נזק שיגרמו כתוצאה מהשימוש באפליקציה או כתוצאה מאי היכולת לעשות בה שימוש.</li>
<li>המפעילים עושים כל מאמץ לתקינות הפעילות באמצעות האפליקציה ויתקנו תוך זמן סביר תקלות אשר ימנעו שימוש תקין באפליקציה,</li>
<li>המפעילים אינם מתחייבים לשירות חסין מהפרעות, הפסקות, קלקולים או תקלות, גישה בלתי מורשית ונזקים ולרבות אך לא למעט, תקלות בחומרה, בתוכנה או בקווי תקשורת.</li>
<li>המפעילים לא יהיו אחראים לכשלים, תקלות, טעויות, הנובעים משיבושים ברשת האינטרנט, משיבושים במערכת התקשורת לרבות הלוויינית, לבעיות של ציוד קצה, לחבלות, לנזק מכוון ו/או לנזקים הנגרמים מכוח עליון.</li>
<li>על המשתמשים באפליקציה לדאוג כי המכשיר הסלולארי שלהם יהיה תקין, מחובר לשירותי אינטרנט וטעון בכל זמן על מנת שיוכל להתקין את האפליקציה ולקבל הודעות, נתונים והתראות בזמן אמת.</li>
<li>המשתמשים מצהירים כי ידוע להם כי שירותיה של האפליקציה ו/או המידע הניתן באמצעותה תלויים בין היתר בגורמים חיצוניים אשר למפעילים אין שליטה עליהם לרבות אך לא למעט במגבלות הכיסוי של לווייני ה GPS, זמינות רשת סלולרית, זמינות שרתים,</li>
<li>המשתמשים מוותרים על כל טענה ו/או דרישה ו/או תביעה כנגד המפעילים ו/או מי מטעמם בגין אי קבלת שירותים, מידע, מיקום, הודעות, התראות, נתונים ואיתור.</li>
<li>המפעילים רשאים לנתק ו/או להגביל זמנית את אספקת שירותיה של האפליקציה מכל מן וסוג שהוא לשם ביצוע פעולות אחזקה באפליקציה.</li>
<li>אי עמידה בתנאים שבהסכם זה לרבות הפרתם מפקיעים לאלתר את זכותו של המשתמש לעשות שימוש באפליקציה.</li>
<li>שירותי האפליקציה יינתנו למשתמשים אשר יתקשרו עם המפעילה בהסכם בעל פה או בכתב למתן שירותיה ו/או אשר יירשמו לשימוש באפליקציה.</li>
<li>ידוע למשתמשים כי השימוש באפליקציה כרוך בהרשמה במסגרתה הם ימסרו פרטים אישיים. בשימוש באפליקציה ובמנוע החיפוש בו, מסכים המשתמש לאיסוף ושימוש במידע עליו כפי שמתואר בהסכם זה.</li>
<li>המשתמשים מתחייבים למסור למפעילים פרטים נכונים ומדויקים. המפעילים לא יהיו אחראים לנזקים שנגרמו כתוצאה מהפרה של סעיף זה.</li>
<li>ידוע למשתמשים כי בסיום תהליך ההרשמה לאפליקציה יימסר להם שם משתמש וסיסמה ראשוניים אשר קבלתם מהווה הסכמה מצדם למלא את תנאי הסכם זה.</li>
<li>שם המשתמש והסיסמא האישיים נועדו לשימושם של המשתמשים בלבד והם נדרשים לשמור על סודיותם. המפעילים לא יישאו באחריות לכל אובדן ו/או נזק שיגרמו ככל שיגרמו כתוצאה משימוש של אדם אחר בשם ובסיסמה בין בהסכמה וידיעה של המשתמש ובין אם לא.</li>
<li>בהרשמה לשירותי האפליקציה מייפה המשתמש את כוחם של המפעילים לעשות שימוש בנתונים ובפרטים שנמסרו לו לצורך מתן השירותים ו/או המידע הניתנים לו באפליקציה ו/או באמצעותה וכן גביית תשלומים.</li>
<li>המפעילים מתחייבים שלא לעשות שימוש במידע אישי סודי פרטי או רגיש של המשתמשים באפליקציה מעבר לשימושים הדרושים להם כמפורט לעיל ו/או להלן.</li>
<li>המפעילים רשאים לחלוק מידע סטטיסטי מתומצת על המשתמש, שאינו מזהה, עם מפרסמים, מממנים וגופים אחרים.</li>
<li>המפעילים לא ייחשבו כמפרים התחייבות לפרטיות או כפוגעים בפרטיות המשתמשים בשל כל מידע, כהגדרתו בחוק המחשבים תשנ"ה &ndash; 1995, שיהיה בו כדי לזהות משתמש או להתחקות אחריו על ידי אחר, שנובע מהשימוש באמצעי תקשורת אלקטרוניים.&nbsp;</li>
<li>המפעילים רשאים לשמור עוגית (COOKIE) הכוללת מידע מזהה של המשתמש מול האפליקציה כמו גם מידע אודות הודעות ודפים שנצפו על ידו .</li>
<li>המפעילים רשאים לשמור את כתובת הIP של המשתמשים לצורך מתן שירות טוב יותר, פילוח השירות ואיסוף מידע מצטבר.</li>
<li>למפעילים תהיה הזכות לגלות מידע על משתמשים בצורה סטטיסטית ולא מזהה אישית למטרות סטטיסטיות, שיווקיות, דיווחים לרשויות המס ו/או על פי הדין וכן לצורך התקשרויות חוזיות עם צדדים שלשיים.</li>
<li>מובהר כי המפעילים ינקטו באמצעי הזהירות המקובלים על מנת לשמור ככל האפשר על מידע סודי כהגדרתו בחוק ו/או בדין. המפעילים לא יישאו באחריות לכל נזק שהוא ישיר ו/או עקיף שיגרם למשתמשים במקרים שאינם בשליטתם של המפעילים ולרבות אך לא למעט במקרים הנובעים מכוח עליון, מתקפת סייבר או האקרים, באגים, זליגת מידע שארעה למרות נקיטת אמצעי הזהירות המקובלים.</li>
<li>אין באמור לעיל ולהלן כדי למנוע מהמפעילים למסור כל מידע ככל שידרשו לכך על פי הרשויות המוסמכות ו/או על פי חוק ו/או הדין ו/או צו בית משפט ו/או אם נעשה שימוש באפליקציה לשם ביצוע מעשה בלתי חוקי ו/או הנוגד את תנאי השימוש ו/או הפוגע ו/או העלול לפגוע במשתמשים אחרים ו/או במפעילים.</li>
<li>המשתמשים באפליקציה מצהירים כי ידוע להם כי במסגרת השימוש בה עלולה להיפגע פרטיותם.</li>
<li>המשתמשים באפליקציה מתחייבים ליידע את כל העושים בה שימוש כי במסגרת השימוש כאמור עלולה להיפגע פרטיותם.</li>
<li>שירותי האפליקציה יינתנו בתשלום ו/או ללא תשלום למשתמשים או חלק מהם לפי שיקול דעתם הבלעדי של המפעילים. &nbsp;</li>
<li>ככל ששירותי האפליקציה יהיו כרוכים בתשלום, ישלמו המשתמשים דמי שירות בהתאם לדרישת המפעילים. לדמי השירות יתווסף מע"מ כדין ולאחר ביצוע התשלום ותונפק בגינם חשבונית מס כדין.</li>
<li>התשלומים יבוצעו באמצעות כרטיס האשראי ו/או באמצעות העברה בנקאית ו/או בעד תשלום מזומן, לפי החלטתם של המפעילים.</li>
<li>אי תשלום יהווה עילה להפסקת התקשרות ולמשתמשים לא תהיה כל תביעה כל טענה ו/או דרישה בקשר לכך.</li>
<li>המשתמשים יישא בחיובי בנק או חברת האשראי במקרה של אי כיבוד הוראת קבע או הרשאה לתשלום.</li>
<li>למפעילים שמורה הזכות לעדכן את דמי השירות בהתאם לשיקול דעתם והמשתמשים מאשרים כי לא יהיו להם כל טענות ו/או דרישות ו/או תביעות בגין עדכון האמור.</li>
<li>השימוש באפליקציה הינו בתוך גבולות מדינת ישראל בלבד, לאזרחים מגיל 18 ומעלה ולתאגידים הרשומים כדין.</li>
<li>באחריותם של המשתמשים לעדכן את המפעילים על יציאתם לחו"ל.</li>
<li>חיובים נלווים של חברות סלולריות בגין השימוש באפליקציה- ככל שיהיו כאלו- יחולו על המשתמשים.</li>
<li>הנתונים, התכנים, המידע ( להלן "<strong>הנתונים</strong>") אשר יתקבלו אצל המשתמשים כתוצאה מהשימוש שלהם באפליקציה יוצגו כפי שהם (As Is) ללא מעורבות ו/או התערבות כלשהי של המפעילים.</li>
<li>הנתונים נמסר/ים ו/או נאספ/ים על ידי צדדים שלישיים כולל המשתמשים באפליקציה ולמפעילה אין כל שליטה לגביהם.</li>
<li>הנתונים הינם באחריותם הבלעדית של צדדים שלישיים כולל המשתמשים ואין המפעילה אחראית לתוכנם, אמתותם, אמינותם, נכונותם, דיוקם, התאמתם, רמת עדכונם ומהימנותם, אבטחתם.</li>
<li>הסתמכות של משתמשים ו/או צד שלישי כלשהו, על הנתונים תעשה על פי שיקול דעתם ועל אחריותם..&nbsp;</li>
<li>המפעילים לא יהיו אחראים לכל נזק ישיר או עקיף, כספי או אחר, וכן לאובדן, הפסד או הוצאה שייגרמו למשתמשים ו/או לצדדים שלישים כתוצאה משימוש או הסתמכות על הנתונים ולרבות על הפסד הכנסה ו/או הפסד תשלום ו/או מניעת רווח.</li>
<li>ידוע למשתמשים כי המפעילים יאפשרו על פי בחירתם ו/או שיקול דעתם לפרסם באפליקציה מוצרים או שירותים והם נותנים הרשאתם לחשוף מידע אודותיהם בצורה סטטיסטית ולא מזהה אישית למפרסמים.</li>
<li>המפעילים לא יישאו באחריות לתכנים פרסומיים.</li>
<li>פרסום באפליקציה לא יהווה המלצה או חוות דעת מצד המפעילים לרכוש את מוצר המוצג בפרסומת או לעשות שימוש בשירות או במידע המוצג בפרסומת.</li>
<li>המפעילים אינם מפרסמים בפועל או מפיצים פרסומות אלא רק מעמידים את האפליקציה כפלטפורמה ממוחשבת המאפשרת למפרסמים או למפיצי הפרסומת להשתמש באפליקציה לשם הצגת הפרסומת.</li>
<li>למפעילים אין אחריות כלשהי למוצרים או לשירותים ו/או לפרסומים והאחריות על פרסומים כאמור תהא של המפרסמים. המשתמשים מתחייבים לבדוק היטב את המוצרים ו/או השירותים המפורסמים והם מוותרים על כל טענה ו/או דרישה ומכל סוג שהוא נגד המפעילים בגין תוכן הפרסומים לרבות אמתותם, צורתם, תמונותיהם, שירותיהם ומוצריהם. &nbsp;</li>
<li>המפעילים לא יהיו אחראים לכל מעשה ו/או מחדל ו/או נזק מכל סוג שהוא, בין המשתמשים לבין צדדים שלישיים גם אם המשתמשים למדו אודות הצדדים השלישיים ו/או יצרו עמם קשר באמצעות קישור (Link) מהאפליקציה.&nbsp;</li>
<li>המפעילים לא היה אחראים להתקשרות שתיווצר בין משתמשים לבין צד שלישי, ולא יהיה אחראים לטיב ו/או איכות המוצרים ו/או השירותים הניתנים ו/או מוצעים למשתמשים על ידי צד שלישי, לרבות לא לתנאי הרכישה ו/או תהליכי הרכישה ו/או אספקתם של המוצרים ו/או השירותים ו/או איכותם ו/או כל דבר אחר שמציע צד שלישי כלשהו ללקוחותיו וכן לכל &nbsp;נזק, ישיר, עקיף, תוצאתי או מיוחד, כספי או אחר, שיגרם ככל שיגרם למשתמש או לצד שלישי כלשהו עקב או כתוצאה משימוש או הסתמכות על מידע ו/או שירות שמופיע באפליקציה, לרבות הפסד הכנסה ו/או מניעת רווח שייגרמו מכל סיבה שהיא.&nbsp;</li>
<li>כל האמור בהסכם זה ביחס להגבלת אחריות מפעיל האפליקציה יחול גם על הפרסומות באפליקציה, בהתאמה ובשינויים המחויבים</li>
<li>המפעילים יהיו רשאים להגביל את השימוש באפליקציה, לחסום את השימוש בה לתנות את השימוש בתנאים ו/או מגבלות מסוימים, להסיר מידע ו/או למנוע ו/או להפסיק את השימוש באפליקציה כולה או חלקה בנסיבות שבהן עשה משתמש שימוש באפליקציה העלול לגרום להפרעה בשירותיה ו/או העולה לכדי אי חוקיות ו/או במקרים של הפרת הסכם זה.</li>
<li>אין לעשות שימוש לא חוקי באפליקציה, בשירותיה ובתכניה.</li>
<li>המפעילים יעשו כל שביכולתם על מנת שלא לפרסם תכנים המוגנים בזכויות יוצרים מבלי לקבל את רשות בעלי הזכויות היוצרים בתכנים אך אין ביכולתם למנוע ואין הם אחראים על העלאת תכנים כאמור על ידי צד שלישי כלשהו. פנייה בנדון תטופל עם קבלתה.</li>
<li>כל משתמש רשאי לפנות למפעילים ולדווח על תכנים פוגעניים ו/או מפרים והמפעילים מתחייבים לבדוק פניות כאמור תוך זמן סביר.</li>
<li>למפעילים זכות יוצרים וזכות קניין רוחני באפליקציה ולרבות אך לא למעט בכל מידע ו/או תצוגה ו/או תוכנה כהגדרתה בחוק המחשבים, תשנ"ה &ndash; 1995 לרבות בעיצוב גרפי, בסימן מסחרי, icons'' באייקונים , בתכנים, ביישומים , בקודים, בקבצים , בדומיין לרבות בשם האפליקציה ובסודות מסחריים שפותחו ו/או תוכננו ו/או חוברו ו/או נוצרו על ידם בעצמם או שהזכויות בהם הועברו אליהם מצד שלישי</li>
<li>אין להעתיק ו/או לשכפל ו/או לשווק ו/או להפיץ ו/או למסור ו/או לתרגם ו/או לפרסם ו/או להשתמש באפליקציה ו/או בתכנים המוצגים באפליקציה ככל שהוצגו על ידי המפעילים ו/או לעשות בהם כל פעולה, במישרין או בעקיפין, המהווה הפרה או פגיעה בזכויות היוצרים ובקניין הרוחני של המפעילים, אלא אם המפעילים התירו זאת במפורש בכתב ומראש.&nbsp;</li>
<li>המפעילים רואים בחומרה פגיעה בזכויותיהם הקנייניות שלהם ושל אחרים ויראו בחומרה כל ניסיון להשתמש באפליקציה כאמצעי להפרה או פגיעה בזכויותיהם הקנייניות .&nbsp;</li>
<li>המפעילים רשאים להמחות את זכויותיהם והתחייבויותיהם באפליקציה.</li>
<li>המפעילים שומרים על זכותם לפעול, להתנהג או לאכוף את זכויותיהם באופן שונה ולא שוויוני בין ועל המשתמשים לפי שיקול דעתם הבלעדי.</li>
<li>מקום השיפוט הייחודי והבלעדי בגין כל עניין הנובע מהשימוש באפליקציה, הוא אך ורק בבתי המשפט המוסמכים בתל אביב ועל השימוש באפליקציה יחולו אך ורק דיני מדינת ישראל.</li>
</ol>
<p>האמור בתנאי שימוש אלה בלשון זכר &ndash; אף בלשון נקבה במשמע, האמור בלשון יחיד &ndash; אף בלשון רבים במשמע. &nbsp;</p>

   </div>

    </ion-content>
</ion-view>