<ion-view view-title="סידור עבודה">
    <ion-content class="customBackground centering rtl">

        <div class="row100 attendanceDate">{{today | amDateFormat: 'MMMM'}} {{today | amDateFormat: 'YYYY'}}</div>

        <div style="margin-bottom: 22px;">
            <div width="150" ng-show="mode == 0" ng-click="showDecisionPopup(1)" style="
   width: 190px;
    height: 190px;
    background-color: #00d893;
    position: relative;
    margin: 0 auto;
    border-radius: 150px;
    box-shadow: 0 4px 0px 0px #38bf94, 0 4px 8px 0px rgba(56, 191, 148, 0.5);
">
                <div style="
    font-size: 41px;
    color: white;
    padding-top: 58px;
    /* width: 100px; */
    line-height: 35px;
">התחל עבודה</div>
            </div>
            <div width="150" ng-show="mode == 1" ng-click="showDecisionPopup(0)" style="width: 190px;height: 190px;background-color: rgb(0, 216, 147);position: relative;margin: 0px auto;border-radius: 150px;/* box-shadow: inset rgb(56, 191, 148) 0px -6px 0px 0px, inset rgb(56, 191, 148) -7px 0px 0px 0px, inset rgb(56, 191, 148) 7px 0px 0px 0px, inset rgb(56, 191, 148) 0px 7px 0px 0px, inset rgb(105, 105, 105) -8px -3px 19px 0px; */box-shadow: inset rgb(105, 105, 105) 0px 0px 97px 0px;">
                <div style="
    font-size: 41px;
    color: white;
    padding-top: 58px;
    /* width: 100px; */
    line-height: 35px;
">סיים עבודה</div>
            </div>
        </div>

        <div class="row100">
            <div class="attendanceBack" ng-click="subtractMonth()">
                <i class="icon ion-arrow-right-b"></i>
            </div>
            <div class="attendanceCenter">
                <div>{{clock | amDateFormat: 'HH:mm:ss'}}</div>
                <div style="
    font-size: 15px;
"><span>יום</span> <span>{{clock | amDateFormat: 'ddd'}}</span> <span>{{clock | amDateFormat: 'DD.MM.YYYY'}}</span>
                </div>
            </div>
            <div class="attendanceForward" ng-click="addMonth()">
                <i class="icon ion-arrow-left-b"></i>
            </div>
        </div>

        <div class="row100">
            <div class="attendanceHeader">התחלה</div>
            <div class="attendanceIcon"><i class="icon ion-map"></i></div>
            <div class="attendanceHeader">סיום</div>
            <div class="attendanceIcon"><i class="icon ion-map"></i></div>
            <div class="attendanceHeader">תאריך</div>
            <div class="attendanceHeader">סה״כ</div>
        </div>

        <div ng-show="attendance.length > '0'" ng-repeat="row in attendance | orderBy: '-'">

            <div class="row100">
                <div class="attendanceFieldButtonGrey" ng-if="!connectionExists">
                    <input type="text" ng-model="newStartTime[row.index]" placeholder={{row.start}} ng-click="updateTime(row.index, row.start, '0')">
                </div>
                <div class="attendanceFieldGrey" ng-if="connectionExists">{{row.start}}</div>

                <div class="attendanceLocationGrey" ng-if="row.lat != '0' && row.lng != '0'" ui-sref="app.map({employee_id: employee_id, lat: row.lat, lng: row.lng})">
                    <i class="icon ion-ios-location" ng-if="row.lat !== '' && row.lng !== ''"></i>
                    <span ng-if="row.lat === '' && row.lng === ''">&nbsp;</span>
                </div>

                <div class="attendanceLocationGrey" ng-if="row.lat == '0' && row.lng == '0'" ng-click="showNoLocationPopup()">
                    <i class="icon ion-ios-location"></i>
                </div>

                <div class="attendanceFieldButtonWhite" ng-if="!connectionExists">
                    <input type="text" ng-model="newEndTime[row.index]" placeholder={{row.end}} ng-click="updateTime(row.index, row.end, '1')">
                </div>
                <div class="attendanceFieldWhite" ng-if="connectionExists">{{row.end}}</div>

                <div class="attendanceLocationWhite" ng-if="row.end_lat != '0' && row.end_lng != '0'" ui-sref="app.map({employee_id: employee_id, lat: row.end_lat, lng: row.end_lng})">
                    <i class="icon ion-ios-location" ng-if="row.end_lat !== '' && row.end_lng !== ''"></i>
                    <span ng-if="row.end_lat === '' && row.end_lng === ''">&nbsp;</span>
                </div>

                <div class="attendanceLocationWhite" ng-if="row.end_lat == '0' && row.end_lng == '0'" ng-click="showNoLocationPopup()">
                    <i class="icon ion-ios-location"></i>
                </div>

                <div class="attendanceFieldGrey" style="font-size: 80%;">{{row.start_date }}</div>

                <div class="attendanceFieldWhite">{{row.total}}</div>

            </div>

            <div class="rowSeparator"></div>

        </div>

        <div ng-show="attendance.length == '0'">
            <div class="attendanceFieldGrey">-</div>
            <div class="attendanceLocationGrey">-</div>
            <div class="attendanceFieldWhite">-</div>
            <div class="attendanceLocationWhite">-</div>
            <div class="attendanceFieldGrey">-</div>
            <div class="attendanceFieldWhite">-</div>
        </div>

    </ion-content>
</ion-view>