<ion-view view-title="תזרים">
    <ion-content class="customBackground equalHMWrap eqWrap">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="equalHW" style="background-color: rgba(112,223,191,0.51);" ui-sref="app.income">
            <div class="balanceHeader">{{today | amDateFormat: 'MMMM'}} {{today | amDateFormat: 'YYYY'}}</div>

            <div class="balanceRow1Header"> + <span>הכנסות</span></div>

            <div class="balanceAmount" style="    padding-top: 18px;">{{balance.income | currency : '' : 2}} ₪</div>

        </div>

        <div class="balanceRowSeparator"></div>

        <div class="equalHW" style="background-color: rgba(112,120,123,0.51);" ui-sref="app.expenses">

            <div class="balanceRow2Header"> - <span>הוצאות</span></div>

            <div class="balanceAmount">{{balance.expenses | currency : '' : 2}} ₪</div>

        </div>

        <div class="balanceRowSeparator"></div>

        <div class="equalHW" style="background-color: rgba(239,244,248,0.51);" ui-sref="app.statistics">

            <div class="balanceRow3Header"> <img src="img/preload.png" width="10"> <span>סיכום</span></div>

            <div class="balanceAmount" style="color: black;">
                <img src="img/arrow.png" style="width: 70px;" ng-if="balance.outcome >= 0">
                <img src="img/arrow_red.png" style="width: 70px;" ng-if="balance.outcome < 0">
                {{balance.outcome | currency : '' : 2}} ₪
            </div>

        </div>

    </ion-content>
</ion-view>