<ion-view view-title="זכויות העובדים">
    <ion-content>

        <div class="div90" style="text-align: justify;text-align: right;direction: rtl;">

       <p style="text-align:center;"><strong><u>זכויות עובדים</u></strong></p>
<p><strong>שכר מינימום לעובדים</strong></p>
<p>התנאים לקבלת שכר מינימום הם היות העובד בוגר ובן 18 שנים לפחות, והיותו מועסק במשרה מלאה כנהוג במקום עבודתו, אך לא מעל 186 שעות.</p>
<p>מי שמעסיק עובדים עם מוגבלות כלשהי, רשאי לשלם פחות משכר המינימום שנקבע בחוק, בתנאי שקיבל על כך אישור מיוחד מטעם משרד התעשייה והמסחר.</p>
<p>המעסיק מחויב להעמיד במקום בולט וגלוי לעובדים מודעה בגין גובה&nbsp;<a href="http://www.workrights.co.il/%D7%A9%D7%9B%D7%A8_%D7%9E%D7%99%D7%A0%D7%99%D7%9E%D7%95%D7%9D">שכר המינימום</a>.</p>
<h2>&nbsp;</h2>
<p>שכר מינימום 2017 לעובדים</p>
<table width="330">
<tbody>
<tr>
<td>
<p>גיל</p>
</td>
<td>
<p>שכר חודשי</p>
</td>
<td>
<p>שכר שעתי</p>
</td>
</tr>
<tr>
<td>
<p>18 ומעלה</p>
</td>
<td>
<p>4825 ₪</p>
</td>
<td>
<p>25.94 ₪</p>
</td>
</tr>
<tr>
<td>
<p>עד גיל 16</p>
</td>
<td>
<p>3,377.50 ₪</p>
</td>
<td>
<p>19.52&nbsp;₪</p>
</td>
</tr>
<tr>
<td>
<p>עד גיל 17</p>
</td>
<td>
<p>3,618.75 ₪</p>
</td>
<td>
<p>20.92 ₪</p>
</td>
</tr>
<tr>
<td>
<p>עד גיל 18</p>
</td>
<td>
<p>4,004.74&nbsp;₪</p>
</td>
<td>
<p>23.154&nbsp;₪</p>
</td>
</tr>
<tr>
<td>
<p>חניך לפי חוק</p>
</td>
<td>
<p>2,895.00 ₪</p>
</td>
<td>
<p>16.734 ₪</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align:center;"><strong><u>שכר מינימום 2017 לעובדים עם מוגבלות, בעלי יכולת עבודה מופחתת</u></strong></p>
<p>&nbsp;</p>
<table width="348">
<tbody>
<tr>
<td width="96">
<p><strong>שיעור יכולת עבודה באחוזים</strong></p>
</td>
<td width="135">
<p><strong>שכר חודשי</strong></p>
</td>
<td width="117">
<p><strong>שכר שעתי</strong></p>
</td>
</tr>
<tr>
<td>
<p>19% עד 30%</p>
</td>
<td>
<p>1,447.50&nbsp;₪</p>
</td>
<td>
<p>7.78 ₪</p>
</td>
</tr>
<tr>
<td>
<p>30% עד 40%</p>
</td>
<td>
<p>1,930.00 ₪</p>
</td>
<td>
<p>10.38 ₪</p>
</td>
</tr>
<tr>
<td>
<p>40% עד 50%</p>
</td>
<td>
<p>2,412.50 ₪</p>
</td>
<td>
<p>12.79 ₪</p>
</td>
</tr>
<tr>
<td>
<p>50% עד 60%</p>
</td>
<td>
<p>2,895.00 ₪</p>
</td>
<td>
<p>15.564 ₪</p>
</td>
</tr>
<tr>
<td>
<p>60% עד 70%</p>
</td>
<td>
<p>3,377.50 ₪</p>
</td>
<td>
<p>18.165&nbsp;₪</p>
</td>
</tr>
<tr>
<td>
<p>70% עד 80%</p>
</td>
<td>
<p>3,860.00 ₪</p>
</td>
<td>
<p>20.75 ₪</p>
</td>
</tr>
</tbody>
</table>
<p><strong>דמי נסיעה</strong></p>
<p>עובד אשר זקוק לתחבורה ציבורית למעלה משלוש תחנות, זכאי לקבלת&nbsp;<a href="http://www.workrights.co.il/%D7%93%D7%9E%D7%99_%D7%A0%D7%A1%D7%99%D7%A2%D7%95%D7%AA">דמי נסיעות</a>&nbsp;מידי המעסיק.</p>
<p>ההשתתפות המרבית של המעסיק בדמי הנסיעה עומדת כיום על 26.40 ₪ ליום עבודה, ומחיר זה יקבע על פי מספר הנסיעות להן יזדקק העובד בכדי להגיע למקום עבודתו, על פי תעריף מוזל בנסיעה בתחבורה הציבורית.</p>
<p>עובד אשר מוסע על ידי המעסיק למקום עבודתו, לא זכאי לדמי נסיעה, ועובד אשר החסיר יום עבודה לא יקבל דמי נסיעה עבור אותו יום.</p>
<p>&nbsp;</p>
<p><strong>הפסקות</strong></p>
<p>במהלך יום עבודה של שמונה שעות לפחות, זכאי העובד למנוחה להפסקה ולארוחה של &frac34; שעה לפחות, ובערבי חג, להפסקה של חצי שעה.</p>
<p>במהלך&nbsp;<a href="http://www.workrights.co.il/%D7%94%D7%A4%D7%A1%D7%A7%D7%94">ההפסקה</a>&nbsp;רשאי העובד לעזוב את מקום עבודתו, אלא אם כן נדרש אחרת על ידי המעסיק, ונוכחותו נדרשת בזמן&nbsp; ההפסקה.</p>
<p>ההפסקה לא נכללת כשעת עבודה, אלא אם כן נדרש העובד להישאר במקום עבודתו בזמן ההפסקה.<br /> הפסקות קצרות, ללקיחת אוויר וחשיבה, נחשבות כחלק מהעבודה, והמעסיק אינו רשאי להפחית משכר העובד בעקבותיהן. עובד רשאי להפסקות תפילה בהתאם לאמונתו.</p>
<p>&nbsp;</p>
<p><strong>הסכם עבודה</strong></p>
<p>מעסיק חייב למסור לעובד ולא יאוחר מ 30 יום מיום תחילת עבודתו, הודעה בכתב, המפרטת את&nbsp;<a href="http://www.workrights.co.il/%D7%AA%D7%A0%D7%90%D7%99_%D7%94%D7%A2%D7%A1%D7%A7%D7%94">תנאי העסקה</a>. הודעה זו תכלול את תאריך תחילת עבודתו, תפרט אם משך העסקתו קצוב, ולאיזו תקופה.</p>
<p>ההודעה תפרט את עיסוקו העיקרי של העובד, תיאור התפקיד, שמו של הממונה הישיר אליו יוכל לפנות בשאלות, פירוט אודות שכרו, ימי העבודה, משך יום העבודה והשבוע, ימי מנוחה, ותשלומים סוציאליים אם אותן הוא מקבל, על פרטיהם.</p>
<p>&nbsp;</p>
<p><strong>מועד תשלום שכר עבודה</strong></p>
<p>מעסיק מחויב בתשלום שכר העובד על בסיס חודשי, בתום החודש עבורו משתלם שכרו של העובד, ולא יאוחר מהתשיעי לחודש שלאחריו, תשלום לאחר היום התשיעי יזכה את העובד בפיצויים עבור&nbsp;<a href="http://www.workrights.co.il/%D7%94%D7%9C%D7%A0%D7%AA_%D7%A9%D7%9B%D7%A8">הלנת שכר</a>.</p>
<p>במידה והעובד מועסק על בסיס יומי, שעתי או על בסיס עבודה קבלנית, ישולם בתום מחצית החודש בו עבד, ולא יאוחר מהתשיעי לחודש שלאחריו, אלא אם כן הוסכם אחרת בהסכם שנחתם מראש.<strong> בנוסף, קובע החוק כי הנפקת תלוש המשכורת לעובד הינה חובה חקוקה. כמו כן, מטיל החוק מגבלות על עיקול שכר וניכויים מסוימים משכרו של העובד (כגון</strong>&nbsp;<a href="http://www.ovdim.org.il/%D7%A0%D7%A1%D7%99%D7%A2%D7%95%D7%AA-%D7%A9%D7%9B%D7%A8-%D7%9E%D7%99%D7%A0%D7%99%D7%9E%D7%95%D7%9D/">הפחתת דמי הנסיעות משכרו</a><strong>).</strong></p>
<p>&nbsp;</p>
<p><strong>עובדים שעות נוספות</strong></p>
<p>עובד זכאי לתשלום עבור שעות נוספות כאשר ולאחר שעבד במועדים החורגים מעבר לתחום העבודה הקבוע בחוק.</p>
<p>תחום העבודה מוגדר במקומות בהם עובדים שישה ימים בשבוע, עד לשמונה שעות, בימים בהם עובדים חמישה ימים בשבוע, עד לתשע שעות, בעבודה בה עובדים לפחות שעתיים ביום עבודת לילה, עד לשבע שעות. ובכלל, שבוע עבודה כתחום עבודה לא יעלה על 43 שעות, וכל שעה מעבר לשעות עבודה אלו מחויבת בתשלום&nbsp;<a href="http://www.workrights.co.il/%D7%A9%D7%A2%D7%95%D7%AA_%D7%A0%D7%95%D7%A1%D7%A4%D7%95%D7%AA">שעות נוספות</a>.</p>
<p>גמול השעות הנוספות לעובד במשרה מלאה הוא: 125% לשעתיים הראשונים מעבר לשעות יום העבודה הרגיל ו150% עבור השעה השלישית ואילך.</p>
<p>&nbsp;</p>
<p><strong>חוק הודעת העובד</strong></p>
<p><strong>&nbsp;חוק מגן זה קובע כי הודעה המפרטת את משרתו של העובד תוגש לו לכשיתחיל לעבוד ולא יאוחר מ-30 יום מכניסתו לתפקיד.</strong></p>
<p>&nbsp;</p>
<p><strong>חוק הודעה מוקדמת</strong>&nbsp;</p>
<p><strong>מעסיקים רבים נוטים לפטר עובדים בניגוד לחוק זה הקובע כי בעת ניתוק ההתקשרות</strong>&nbsp;<strong> בין עובד למעביד, חייב הצד שקיבל את ההחלטה לידע את הצד השני באמצעות הודעה מפורטת בכתב. בנוסף, לא יכולה התפטרות להתבצע באופן מידי והחוק מסדיר את כמות הימים המינימאלית אשר יכולה להקדימה (בד"כ בין שבועיים לחודש).</strong></p>
<p>&nbsp;</p>
<p><strong>הזכות לחופשה שנתית</strong></p>
<p>כל עובד זכאי לחופשה שנתית שאורכה נקבע בהתאם לוותק העובד במקום העבודה. בארבעת השנים הראשונות יקבל העובד שבועיים קלנדרים כלומר 12 יום עבודה בשבוע עבודה של 6 ימי עבודה ו- 10 בשבוע של 5 ימי עבודה. בשנה החמישית יקבל 16 יום, בשישית 18, בשביעית 21 ויום נוסף בעבור כל שנה מהשנה השמינית עד למכסה של 28 יום לכל היותר.</p>
<p>&nbsp;</p>
<p><strong>תשלום שכר עבור ימי חג</strong></p>
<p>הזכות לשכר עבודה עבור ימי חג מעוגנת בחוק שעות העבודה והמנוחה ובהסכם קיבוצי כללי שנחתם בין ההסתדרות ללשכת התיאום של הארגונים הכלכליים. זכות זו קובעת כי עובד בשכר חודשי זכאי לתשלום עבור ימי חג. עובד בשכר יומי שעבד לא פחות משלושה חודשים יהא זכאי לתשלום עבור יומיים בראש השנה, יום כיפור, יומיים עבור סוכות, יומיים לפסח, שבועות ויום העצמאות.</p>
<p>עובד שאינו יהודי רשאי לקבל תשלום על ימי חג לפי דתו.</p>
<p>&nbsp;</p>
<p><strong>דמי מחלה</strong></p>
<p>עובד זכאי ל- 18&nbsp;<a href="http://www.law-shalev.co.il/_%D7%9E%D7%97%D7%9C%D7%94">ימי מחלה</a>&nbsp;בשנה המשולמים מהיום השני. היום השני והשלישי למחלה יזכו את העובד ב- 50% מהשכר ומהיום הרביעי ואילך יקבל 100% משכרו היומי. את ימי המחלה ניתן לצבור עד מכסה של&nbsp; 90 יום.</p>
<p>&nbsp;</p>
<p><strong>פיצוי פיטורים</strong></p>
<p>עובד או עובדת אשר פוטרו ממקום עבודתם זכאים לפיצויי פיטורין על פי חוק.&nbsp;<a href="http://www.law-shalev.co.il/_%D7%A4%D7%99%D7%A6%D7%95%D7%99%D7%99_%D7%A4%D7%99%D7%98%D7%95%D7%A8%D7%99%D7%9F">פיצויי פיטורין</a>&nbsp;נקבעים על פי&nbsp; וותק העובד/ת בחברה, מצב בריאותי, ארעיות תפקידו בחברה והנסיבות שהביאו לפיטורים. התנהגות העובד/ת משפיעה אף היא על&nbsp;גובה הפיצויים&nbsp;ובמקרה של התייעלות בחברה ושינוי במצבת העובדים בחברההפיטורים יהיו אפילו גבוהים יותר.</p>
<p>אך מה&nbsp;זכויות העובדים?&nbsp;זכויות העובדים&nbsp;נועדו לשמירה על גובה פיצויים הולם לעובדים. זכויות עובדים אף מחייבים מצבים מסוימים שבהם התפטרות ממקום עבודה תיחשב כהתפטרות. כדוגמאת: הרעת תנאים של העובד, התפטרות של עובד עונתי, התפטרות בעקבות מחלה או מצב בריאותי לקוי ומקרים נוספים. אלו מקרים בודדים בלבד. כמו כן, חישוב הפיצויים תלוי בסוג העובד ואופן עבודותו. ישנם מחשבוני פיצויי פיטורים שנועדו לסייע על חישוב הפיצויים בצורה האמינה ביותר.</p>
<p>&nbsp;</p>
<p><strong>הזכות לדמי הבראה</strong></p>
<p>בניגוד ליתר&nbsp;זכויות העובדים&nbsp;שצויינו, מקור הזכות לקבלת&nbsp;<a href="http://www.law-shalev.co.il/_%D7%93%D7%9E%D7%99_%D7%94%D7%91%D7%A8%D7%90%D7%94">דמי הבראה</a>&nbsp;אינו מצוי בחוק אלא בהסכם קיבוצי&nbsp; כללי אשר נוסף לו צו הרחבה. מטרת זכות זו לסייע לעובד העובד לפחות שנה במקום עבודתו לצאת לחופשה ולשוב לעבודתו בכוחות מחודשים. וותק העובד משחק תפקיד חשוב בנושא&nbsp;דמי הבראה&nbsp;ובעד השנה הראשונה לוותק יקבל העובד 5 ימי הבראה, 6 בעד השנה השניה והשלישית, 77 בעד הרביעית&nbsp;וכן הלאה עד 10 ימי הבראה בשנה ה- 20. לפי צו ההרחבה שנחתם בשנת 2008 שיעור דמי ההבראה עומד על 378 ש"ח ליום.</p>
<p>&nbsp;</p>
<p><strong>הפרשת פנסיה</strong></p>
<p>בתחילת 2008 נכנס לתוקפו חוק חדש המגן המהווה נדבך חשוב ביותר בהגנה על&nbsp;זכויות העובדים&nbsp;והוא צו ההרחבה לפנסיית חובה במשק. צו זה מחייב מעבידים להפריש כספים לביטוח פנסיוני עבור העובד. הביטוח חל על כל עובד מעל גיל 21 ועובדת מעל גיל 20 שלא חלים עליו הסכמים מיטיבים והשלים 6 חודשי עבודה.</p>
<p>שיעור הפרשת&nbsp;<a href="http://www.law-shalev.co.il/_%D7%A4%D7%A0%D7%A1%D7%99%D7%94">פנסייה</a>&nbsp;מחושב על פי שכר בסיס ומהתוספות הקבועות להן זכאי העובד, ונקבע כעלייה הדרגתית משנת 2008 ועד 2014 בו יעלה שיעור ההפרשות המשותף של העובד והמעביד מ- 2.5% ל- 18.5%.</p>
<p>מתוך ההפרשה,&nbsp;6.25%&nbsp;ישולם על ידי המעסיק 5.75% על ידי העובד ו- 6% נוספים ישולמו על ידי המעסיק הפרשה למטרת פיצויים.</p>
<p>במסגרת הביטוח הפנסיוני יוכל העובד לבחור את קרן הפנסיה או קופת הגמל בה יבחר להיות מבוטח וזאת תוך 60 יום מיום העסקתו ויוכל לבחור לעבור לקופת גמל לקצבה אחרת בתנאי שתכלול כיסוי למקרי מוות ונכות.</p>
<p>&nbsp;</p>
   </div>

    </ion-content>
</ion-view>