<ion-view view-title="מקום העבודה שלי">
    <ion-content class="customBackground rtl">

        <div class="div90" ng-show="!connectionExists">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">מספר העוסק</span>
                <input type="number" ng-model="connection.number">
            </label>

            <!--<div class="customInput">-->
                <!--<input type="number" placeholder="מספר העוסק" ng-model="connection.number">-->
            <!--</div>-->

            <div class="greenButton" ng-click="setConnection()">התחבר</div>

        </div>

        <div class="div90" ng-show="connectionExists">

            <span>מספר העוסק שאתה מחובר אליו: </span> {{company_id}}

            <div class="greenButton" ng-click="deleteConnection()">התנתק</div>

        </div>

    </ion-content>
</ion-view>