<ion-view view-title="מיקום עובדים">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="mapWrapper">
            <div id="map" data-tap-disabled="true" style="height:100%;"></div>
        </div>

    </ion-content>
</ion-view>