<ion-view view-title="מיקום">
    <ion-content class="customBackground">

        <div class="mapWrapper">
            <div id="map2" data-tap-disabled="true" style="height:100%;"></div>
        </div>

    </ion-content>
</ion-view>
