<ion-view view-title="פרופיל אישי">
    <ion-content class="customBackground has-footer"  style="bottom: 66px;">

        <div class="div90">

            <div class="row100 centering">
                <img src="img/avatar_grey.png" height="130" style="width: 100px; height: 100px; margin-top: 14px;">
            </div>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם פרטי</span>
                <input type="text" ng-model="employee.data.firstname">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם משפחה</span>
                <input type="text" ng-model="employee.data.lastname">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">מספר טלפון</span>
                <input type="number" ng-model="employee.data.phone">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תאריך לידה</span>
                <input type="date" ng-model="employee.data.birthday">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">סיסמא חדשה</span>
                <input type="password" ng-model="employee.data.password">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שכר לשעה</span>
                <input type="number" step="any" ng-model="employee.salary.amount">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">בונוסים</span>
                <input type="number" step="any" ng-model="employee.salary.other_expenses">
            </label>
            <div style="text-align: right; margin-top: -9px; padding-right: 13px;">כגון: נסיעות, תוספות קבועות וכד׳</div>

            <div class="registerPoints">

                <label class="item item-input item-select">
                    <div class="input-label"><span>מין</span></div>
                    <select ng-model="employee.point.gender">
                        <option value="null">לא הוגדר</option>
                        <option value="1">זכר</option>
                        <option value="0">נקבה</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>מצב משפחתי</span></div>
                    <select ng-model="employee.point.family_status">
                        <option value="0">רווק</option>
                        <option value="1">נשוי</option>
                        <option value="2">גרוש</option>
                        <option value="3">אלמן</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>האם הינך מתנדב בתנועת נוער?</span></div>
                    <select ng-model="employee.point.young_volunteer">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>מספר ילדים עד גיל 18</span></div>
                    <select ng-model="employee.point.children_quantity">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                </label>

                <label class="item item-input item-select" ng-if="employee.point.children_quantity != '0'">
                    <div class="input-label"><span>האם הילדים בחזקתך?</span></div>
                    <select ng-model="employee.point.children_possession">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select"
                       ng-if="employee.point.children_quantity != '0' && (employee.point.family_status == '0' || employee.point.family_status == '2') && employee.point.children_possession == '0'">
                    <div class="input-label"><span>האם אתה משלם מזונות לבת זוגך לשעבר</span></div>
                    <select ng-model="employee.point.alimony">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select" ng-if="employee.point.children_quantity != '0'">
                    <div class="input-label"><span>האם ילדך מתחת לגיל 18 וסובל מאחד מהמצבים הבאים?</span></div>
                    <select ng-model="employee.point.children_invalids">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <div style="text-align: right; margin-top: 0; padding-right: 13px;" ng-if="employee.point.children_quantity != '0'">
                    <span>עיוור, חרש, אילם, משותק, מפגר, חולה בטלסמיה ,דיסאוטונומיה או סיסטיק פיברוזיס.</span>
                </div>


                <label class="item item-input item-select">
                    <div class="input-label"><span>האם אתה עולה חדש?</span></div>
                    <select ng-model="employee.point.ole_hadash">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>
                <div style="text-align: right;margin-top: 0;padding-right: 13px;" ng-if="employee.point.children_quantity != '0'">
                  <span>*אדם שעלה לארץ ב7 שנים האחרונות נחשב כעולה חדש.</span>
                </div>

                <label class="item item-input item-select">
                    <div class="input-label"><span>חייל</span></div>
                    <select ng-model="employee.point.soldier">
                        <option value="0">כן</option>
                        <option value="1">משוחרר ותיק (יותר משנתיים)</option>
                        <option value="2">משוחרר טרי (פחות משנתיים)</option>
                        <option value="3">לא רלוונטי</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>שירות לאומי</span></div>
                    <select ng-model="employee.point.national_service">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>בעל תואר ראשון</span></div>
                    <select ng-model="employee.point.bachelor">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>בעל תואר שני</span></div>
                    <select ng-model="employee.point.master">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label"><span>בעלת תואר שלישי</span></div>
                    <select ng-model="employee.point.doctor">
                        <option value="1">כן</option>
                        <option value="0">לא</option>
                    </select>
                </label>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooter" ng-click="updateEmployee()">עדכן פרטים</div>
    </ion-footer-bar>
</ion-view>