<ion-view view-title="פרופיל אישי">
    <ion-content class="customBackground has-footer" style="bottom: 66px;">

        <div class="div90 centering">

            <div class="row100 centering">
                <img src="img/avatar_grey.png" height="130">
            </div>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם פרטי</span>
                <input type="text" ng-model="company.firstname">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם משפחה</span>
                <input type="text" ng-model="company.lastname">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">מספר טלפון</span>
                <input type="number" ng-model="company.phone">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תאריך לידה</span>
                <input type="date" ng-model="company.birthday">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">סיסמא חדשה</span>
                <input type="password" ng-model="company.password">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם העוסק</span>
                <input type="text" ng-model="company.title">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">כתובת העוסק</span>
                <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="company.address">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">כמות עובדים</span>
                <select ng-model="company.employee_count" style="border-width: 0; padding: 7px 0;">
                    <option value="">כמות עובדים</option>
                    <option value="0">0-2 עובדים</option>
                    <option value="1">3-5 עובדים</option>
                    <option value="2">6-10 עובדים</option>
                    <option value="3">10 ומעלה</option>
                </select>
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תחום העוסק</span>
                <input type="text" ng-model="company.desc">
            </label>

        </div>

    </ion-content>
    <ion-footer-bar class="p0 bar-footer">
        <div class="greenFooter" ng-click="updateCompany()">עדכן פרטים</div>
    </ion-footer-bar>
</ion-view>