<ion-view style="background-color: transparent;">
    <i class="icon ion-close" style="font-size: 150%;color: white;position: absolute;right: 11px;top: 8px;" ng-click="hideDecisionPopup()"></i>
    <div class="decisionPopupMain rtl">

        <div class="decisionPopupText">
            <span>האם אתה בטוח שאתה </span>
            <span ng-show="mode == '1'">מתחיל</span>
            <span ng-show="mode == '0'">מסיים</span>
            <span> עבודה?</span>
        </div>

        <div class="row100">
            <div class="decisionPopupRightButton" ng-click="hideDecisionPopup()">
                <span>בטל</span>
            </div>
            <div class="decisionPopupLeftButton" ng-click="isGPSenabled()">
                <span>אישור</span>
            </div>
        </div>

    </div>
</ion-view>