<ion-popover-view>
    <ion-content>

        <ion-list>
            <ion-item ui-sref="app.employees.employee.profile_for_manager({employee_id : employee.employee.index})">פרטי העובד</ion-item>
            <ion-item ui-sref="app.employees.employee.hours({employee_id : employee.employee.index})">שעות עבודה</ion-item>
            <ion-item ui-sref="app.employees.employee.salaries({employee_id : employee.employee.index})">משכורות</ion-item>
            <ion-item ng-if="employee.status == 'active' && employee.employee.location_lat != '0' && employee.employee.location_lng != '0'"
                      href='' ng-click="getLiveLocation(employee.employee.index)">מיקום נוכחי</ion-item>
            <!--<ion-item ng-if="employee.status == 'active' && employee.employee.location_lat != '0' && employee.employee.location_lng != '0'"-->
                      <!--ui-sref="app.map({employee_id : employee.employee.index, lat: employee.employee.location_lat, lng: employee.employee.location_lng})">מיקום</ion-item>-->
            <ion-item ng-if="employee.status == 'active' && employee.employee.location_lat == '0' && employee.employee.location_lng == '0'"
                   href="" ng-click="showNoLocationPopup()">מיקום נוכחי</ion-item>
            <ion-item ng-if="employee.status == 'inactive'" href=""><span style="color: lightgrey;">מיקום</span></ion-item>
            <ion-item href="" ng-click="deleteEmployee()"><span>מחק עובד</span></ion-item>
        </ion-list>

    </ion-content>
</ion-popover-view>
