<ion-view view-title="תזרים אישי">
    <ion-content class="customBackground equalHMWrap eqWrap">

        <div class="equalHW" style="background-color: rgba(112,223,191,0.51);" ui-sref="app.attendance">
            <div class="balanceHeader"><div class="balanceHeaderTitle">{{today | amDateFormat: 'MMMM'}} {{today | amDateFormat: 'YYYY'}}</div></div>

            <div class="balanceRow1Header"><span>שעות</span></div>

            <div class="balanceAmount" style="    padding-top: 18px;">{{flow.hours}}</div>

        </div>

        <div class="balanceRowSeparator"></div>

        <div class="equalHW" style="background-color: rgba(112,120,123,0.51);" ui-sref="app.employees.employee.salaries({employee_id: local_employee_id})">

            <div class="balanceRow2Header"><span>משכורת ברוטו</span></div>

            <div class="balanceAmount">{{flow.brutto | currency : '' : 2}} ₪</div>

        </div>

        <div class="balanceRowSeparator"></div>

        <div class="equalHW" style="background-color: rgba(239,244,248,0.51);"  ui-sref="app.employees.employee.salaries({employee_id: local_employee_id})">

            <div class="balanceRow3Header"><span>משכורת נטו</span></div>

            <div class="balanceAmount" style="color: black;">
                {{flow.netto | currency : '' : 2}} ₪
            </div>

        </div>

    </ion-content>
</ion-view>