<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" align-title="center">
            <!--<ion-nav-back-button>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" style="color: white;" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-stable">
            <h1 ng-show="role == '0'" class="title" style="color: white;">מספר העוסק: {{company_id}}</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <!--<ion-item menu-close ui-sref="app.login">
                    התחברות
                </ion-item>-->
                <ion-item menu-close ui-sref="app.balance" ng-if="role == '0'">
                    תזרים
                </ion-item>
                <ion-item menu-close ui-sref="app.statistics" ng-if="role == '0'">
                    סטטיסטיקות
                </ion-item>
                <ion-item menu-close ui-sref="app.attendance" ng-if="role == '1'">
                    סידור עבודה
                </ion-item>
                <ion-item menu-close ui-sref="app.profile_employee" ng-if="role == '1'">
                    פרופיל
                </ion-item>
                <ion-item menu-close ui-sref="app.profile_company" ng-if="role == '0'">
                    פרופיל
                </ion-item>
                <ion-item menu-close ui-sref="app.requests" ng-if="role == '0'">
                    בקשות הצטרפות
                </ion-item>
                <ion-item menu-close ui-sref="app.employees" ng-if="role == '0'">
                    רשימת עובדים
                </ion-item>
                <ion-item menu-close ui-sref="app.permissions" ng-if="role == '0'">
                    הרשאות
                </ion-item>
                <ion-item menu-close ui-sref="app.flow" ng-if="role == '1'">
                    תזרים אישי
                </ion-item>
                <ion-item menu-close ui-sref="app.employees.employee.salaries({employee_id: local_employee_id})" ng-if="role == '1'">
                    המשמרות שלי
                </ion-item>
                <ion-item menu-close ui-sref="app.accounting" ng-if="role == '1' && can_add_expenses == '1'">
                    הזנת נתונים
                </ion-item>
                <ion-item menu-close ui-sref="app.terms">
                    תקנון שימוש
                </ion-item>
                <ion-item menu-close ui-sref="app.conditions">
                    זכויות העובדים
                </ion-item>
                <ion-item menu-close ui-sref="app.connection" ng-if="role == '1'">
                    מקום העבודה שלי
                </ion-item>
                <ion-item class="item item-complex"  menu-close ng-click="logout()">
                   <a class="item-content">
                   התנתקות
                </a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
