<ion-view view-title="פרופיל העובד">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="div90 centering">

            <div class="row100 centering">
                <img src="img/avatar_grey.png" height="130">
            </div>

            <div class="pfmInput">
                <div class="pfmInputRight">שם פרטי</div>
                <div class="pfmInputLeft">{{pfmEmployee.firstname}}</div>
            </div>
            <div class="pfmInput">
                <div class="pfmInputRight">שם משפחה</div>
                <div class="pfmInputLeft">{{pfmEmployee.lastname}}</div>
            </div>
            <div class="pfmInput">
                <div class="pfmInputRight">מספר טלפון</div>
                <div class="pfmInputLeft">{{pfmEmployee.birthday | amDateFormat: 'DD/MM/YYYY'}}</div>
            </div>
            <div class="pfmInput">
                <div class="pfmInputRight">תאריך לידה</div>
                <div class="pfmInputLeft">{{pfmEmployee.phone}}</div>
            </div>
            <div class="pfmInput">
                <div class="pfmInputRight">סכום בשעה</div>
                <div class="pfmInputLeft">{{pfmEmployee.salary}}</div>
            </div>
            <div class="pfmInput">
                <div class="pfmInputRight">נוספים</div>
                <div class="pfmInputLeft">{{pfmEmployee.other_expenses}}</div>
            </div>

        </div>

    </ion-content>
</ion-view>