<ion-view view-title="פרטים נוספים">
    <ion-nav-buttons side="right"></ion-nav-buttons>
    <ion-content class="customBackground centering rtl">

        <!--Enterprise registration-->

        <div ng-show="role == '0'" class="div90">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם העסק</span>
                <input type="text" ng-model="company.title">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">כתובת העסק</span>
                <input type="text" g-places-autocomplete options="autocompleteOptions" ng-model="company.address">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">מספר עובדים</span>
                <select ng-model="company.quantity" style="border-width: 0; padding: 7px 0;">
                    <option value="">מספר עובדים</option>
                    <option value="0">0-2 עובדים</option>
                    <option value="1">3-5 עובדים</option>
                    <option value="2">6-10 עובדים</option>
                    <option value="3">10 ומעלה</option>
                </select>
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תחום העסק</span>
                <input type="text" ng-model="company.area">
            </label>

            <div class="greenButton" ng-click="makeEnterpriseRegistration()">הרשמה</div>

        </div>

        <!--Connection to the enterprise for the Employee-->

        <div ng-show="role == '1'" class="div90">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">מספר העוסק</span>
                <input type="number" ng-model="connection.number">
            </label>
            <div class="greenButton" ng-click="setConnection()">התחבר</div>

            <div class="greyButton" ng-click="skip()">התעלם כרגע</div>

        </div>

    </ion-content>
</ion-view>