<ion-view view-title={{title}}>
    <ion-nav-buttons side="right"></ion-nav-buttons>
    <ion-content class="has-footer customBackground" style="bottom: 66px;">

        <!--Manager and Employee registration-->
        <div class="registerSteps" ng-show="role == '1'">
            <div class="registerSteps1">
                <div class="registerStepActive">1</div>
            </div>
            <div class="registerStepsLine1"></div>
            <div class="registerSteps2">
                <div class="registerStepInactive">2</div>
            </div>
            <div class="registerSteps3">
                <div class="registerStepInactive">3</div>
            </div>
        </div>

        <div class="div90">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם פרטי</span>
                <input type="text" ng-model="newUser.firstname">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">שם משפחה</span>
                <input type="text" ng-model="newUser.lastname">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">אימייל</span>
                <input type="email" ng-model="newUser.email">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">סיסמא</span>
                <input type="password" ng-model="newUser.password">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">מספר טלפון</span>
                <input type="number" ng-model="newUser.phone">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תאריך לידה</span>
                <input type="date" ng-model="newUser.birthday">
            </label>

            <div class="row100">
                <div class="registerRadio" ng-click="chooseGender(0)">
                    <span>זכר</span>
                    <i class="icon ion-ios-circle-outline" style="font-size: 20px;" ng-show="gender.chosen != '0'"></i>
                    <i class="icon ion-ios-circle-filled" style="font-size: 20px;"  ng-show="gender.chosen == '0'"></i>
                </div>
                <div class="registerRadio" ng-click="chooseGender(1)">
                    <span>נקבה</span>
                    <i class="icon ion-ios-circle-outline" style="font-size: 20px;" ng-show="gender.chosen != '1'"></i>
                    <i class="icon ion-ios-circle-filled" style="font-size: 20px;"  ng-show="gender.chosen == '1'"></i>
                </div>
            </div>

            <label class="item item-input customInputLabel rtl" ng-show="role == '1'">
                <span class="input-label">סכום בשעה</span>
                <input type="number" step="any" ng-model="money.salary">
            </label>

            <label class="item item-input customInputLabel rtl" ng-show="role == '1'" style="margin-bottom: 0;">
                <span class="input-label">נוספים</span>
                <input type="number" step="any" ng-model="money.others">
            </label>
            <div ng-show="role == '1'" style="text-align: right; margin: 5px 13px 5px 0;">כגון: נסיעות, תוספות קבועות וכד׳</div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0 bar-footer">
        <div class="greenFooter" ng-click="makeRegistration()">המשך</div>
    </ion-footer-bar>
</ion-view>