<ion-view view-title="המשמרות שלי">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="row100">
            <div class="attendanceBack" ng-click="subtractMonth()">
                <i class="icon ion-arrow-right-b"></i>
            </div>
            <div class="hoursDate">{{today | amDateFormat: 'MMMM'}} {{today | amDateFormat: 'YYYY'}}</div>
            <div class="attendanceForward" ng-click="addMonth()">
                <i class="icon ion-arrow-left-b"></i>
            </div>
        </div>

        <div class="row100">
            <div class="bigAttendanceHeader">התחלה</div>
            <div class="bigAttendanceHeader">סיום</div>
            <div class="bigAttendanceHeader">תאריך</div>
            <div class="bigAttendanceHeader">סה״כ</div>
        </div>

        <div ng-show="employeeData.attendance.length > '0'" ng-repeat="row in employeeData.attendance">

            <div class="row100">
                <div class="bigAttendanceFieldButtonGrey" ng-if="!connectionExists">
                    <input type="text" ng-model="newStartTime[row.index]" placeholder={{row.start}} ng-click="updateTime(row.index, row.start, '0')">
                </div>
                <div class="bigAttendanceFieldGrey" ng-if="connectionExists">{{row.start}}</div>

                <div class="bigAttendanceFieldButtonWhite" ng-if="!connectionExists">
                    <input type="text" ng-model="newEndTime[row.index]" placeholder={{row.end}} ng-click="updateTime(row.index, row.end, '1')">
                </div>
                <div class="bigAttendanceFieldWhite" ng-if="connectionExists">{{row.end}}</div>

                <div class="bigAttendanceFieldGrey">{{row.start_date}}</div>

                <div class="bigAttendanceFieldWhite" ng-if="row.total != '-'">{{row.total | currency : '' : 2}} ₪</div>
                <div class="bigAttendanceFieldWhite" ng-if="row.total == '-'">{{row.total}}</div>
            </div>

            <div class="rowSeparator"></div>

        </div>

        <div ng-show="employeeData.attendance.length == '0'">
            <div class="bigAttendanceFieldGrey">-</div>
            <div class="bigAttendanceFieldWhite">-</div>
            <div class="bigAttendanceFieldGrey">-</div>
            <div class="bigAttendanceFieldWhite">-</div>
        </div>

    </ion-content>
</ion-view>