<ion-view>
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div class="row100">
            <div class="attendanceBack" ng-click="subtractMonth()">
                <i class="icon ion-arrow-right-b"></i>
            </div>
            <div class="hoursDate">
                <i class="icon ion-ios-download" style="color: #01D894" ng-click="sendExcel()"></i>
                {{today | amDateFormat: 'MMMM'}} {{today | amDateFormat: 'YYYY'}}
            </div>
            <div class="attendanceForward" ng-click="addMonth()">
                <i class="icon ion-arrow-left-b"></i>
            </div>
        </div>

        <div class="row100">
            <div class="attendanceHeader">התחלה</div>
            <div class="attendanceIcon"><i class="icon ion-map"></i></div>
            <div class="attendanceHeader">סיום</div>
            <div class="attendanceIcon"><i class="icon ion-map"></i></div>
            <div class="attendanceHeader">תאריך</div>
            <div class="attendanceHeader">סה״כ</div>
        </div>

        <div ng-show="attendance.length > '0'" ng-repeat="row in employeeAttendance">

            <div class="row100">
                <div class="attendanceFieldButtonGrey">
                    <input type="text" ng-model="newStartTime[row.index]" placeholder={{row.start}} ng-click="updateTime(row.index, row.start, '0')">
                </div>

                <div class="attendanceLocationGrey" ui-sref="app.map({employee_id: employee_id, lat: row.lat, lng: row.lng})">
                    <i class="icon ion-ios-location" ng-if="row.lat !== '' && row.lng !== '' && row.lat !== '0' && row.lng !== '0'"></i>
                    <span ng-if="(row.lat === '' && row.lng === '') || row.lat == '0' || row.lng == '0'">&nbsp;</span>
                </div>

                <div class="attendanceFieldButtonWhite">
                    <input type="text" ng-model="newEndTime[row.index]" placeholder={{row.end}} ng-click="updateTime(row.index, row.end, '1')">
                </div>

                <div class="attendanceLocationWhite" ui-sref="app.map({employee_id: employee_id, lat: row.end_lat, lng: row.end_lng})">
                    <i class="icon ion-ios-location" ng-if="row.end_lat !== '' && row.end_lng !== '' && row.end_lat !== '0' && row.end_lng !== '0'"></i>
                    <span ng-if="(row.end_lat === '' && row.end_lng === '') || row.end_lat == '0' || row.end_lng == '0'">&nbsp;</span>
                </div>

                <div class="attendanceFieldGrey"  style="font-size: 80%;">{{row.start_date}}</div>

                <div class="attendanceFieldWhite">{{row.total}}</div>

            </div>

            <div class="rowSeparator"></div>

        </div>

        <div ng-show="attendance.length == '0'">
            <div class="attendanceFieldGrey">-</div>
            <div class="attendanceLocationGrey">-</div>
            <div class="attendanceFieldWhite">-</div>
            <div class="attendanceLocationWhite">-</div>
            <div class="attendanceFieldGrey">-</div>
            <div class="attendanceFieldWhite">-</div>
        </div>

    </ion-content>
</ion-view>