<ion-view hide-nav-bar="true">
    <ion-content class="customBackground loginPage">

        <div class="div80 loginPageWrapper">

            <div class="row100 centering" style="padding: 30px 0 30px 0;">
                <img class="mainLogo" src="img/logo.png">
            </div>

            <div class="row100 rtl loginInput">
                <div class="loginInputPic">
                    <i class="icon ion-person" style="font-size: 200%; color: white"></i>
                </div>
                <input type="email" placeholder="אי-מייל" ng-model="user.email">
            </div>

            <div class="row100 rtl loginInput">
                <div class="loginInputPic">
                    <i class="icon ion-android-lock" style="font-size: 200%; color: white"></i>
                </div>
                <input type="password" placeholder="סיסמא" ng-model="user.password">
            </div>

            <div class="centering"><a href="" ng-click="openForgotPasswordModal()" style="color: white;">שכחתי סיסמא</a></div>

            <div class="greenButton greenButton2" ng-click="makeLogin()">התחבר</div>

            <div class="greenButton greenButton2" ui-sref="app.register({role: 0})">הרשמת בית עסק</div>

            <div class="greenButton greenButton2" ui-sref="app.register({role: 1})">הרשמת עובד</div>

        </div>

    </ion-content>
</ion-view>