<ion-view view-title="בקשות הצטרפות">
    <ion-content class="customBackground">

        <ion-refresher pulling-text="משוך לעידכון‎..." on-refresh="doRefresh()"></ion-refresher>

        <div ng-if="employees.length == 0" class="noResultsTitle">אין תוצאות</div>

        <div ng-if="employees.length > 0" ng-repeat="employee in employees">

                <div class="requestsRow" ng-show="employee.event != 'approved'">

                    <div class="requestsRowIcon">
                        <img src="img/avatar_black.png" height="40">
                    </div>

                    <div class="requestsRowName">{{employee.employee.firstname}} {{employee.employee.lastname}}</div>

                    <div class="requestsRowButton" ng-click="disconnectEmployee(employee.employee.index)">
                        <img src="img/x.png" height="40">
                    </div>

                    <div class="requestsRowButton" ng-show="employee.event != 'approved'" ng-click="approveEmployee(employee.employee.index)">
                        <img src="img/v.png" height="40">
                    </div>

                </div>

                <div class="rowSeparator"></div>

            </div>

    </ion-content>
</ion-view>