<ion-modal-view>
    <ion-header-bar class="bar">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeForgotPasswordModal()">
                <i class="icon ion-close-circled" style="color: white;"></i>
            </button>
        </div>
        <h1 class="title" style="text-align: center; color: white;">שכחתי סיסמא</h1>
    </ion-header-bar>
    <ion-content class="rtl customBackground">

        <div class="div90 list">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">אימייל</span>
                <input type="email" ng-model="forgot.email">
            </label>

            <div class="greenButton" ng-click="sendPassword()">שלח</div>

        </div>

    </ion-content>
</ion-modal-view>