<ion-modal-view>
    <ion-header-bar class="bar">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeIncomeModal()">
                <i class="icon ion-close-circled" style="color: white;"></i>
            </button>
        </div>
        <h1 class="title" style="text-align: center; color: white;">הוספת הכנסה</h1>
    </ion-header-bar>
    <ion-content class="rtl customBackground has-footer">

        <div class="div90 list">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תיאור</span>
                <input type="text" ng-model="newIncome.description">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">סכום</span>
                <input type="number" ng-model="newIncome.amount">
            </label>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooter" ng-click="addIncome()">עדכן</div>
    </ion-footer-bar>
</ion-modal-view>
