<ion-modal-view>
    <ion-header-bar class="bar">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeExpensesModal()">
                <i class="icon ion-close-circled" style="color: white;"></i>
            </button>
        </div>
        <h1 class="title" style="text-align: center; color: white;">הוספת הוצאה</h1>
    </ion-header-bar>
    <ion-content class="rtl customBackground has-footer">

        <div class="div90">

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">תיאור</span>
                <input type="text" ng-model="newExpenses.description">
            </label>

            <label class="item item-input customInputLabel rtl">
                <span class="input-label">עלות</span>
                <input type="number" ng-model="newExpenses.amount">
            </label>

            <div class="row100">
                <div class="modalName">קבוע</div>
                <div class="modalToggle">
                    <label class="toggle">
                        <input type="checkbox" ng-model="newExpenses.type">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="p0">
        <div class="greenFooter" ng-click="addExpenses()">עדכן</div>
    </ion-footer-bar>
</ion-modal-view>
