.rtl {
    direction: rtl;
}

ion-header-bar, ion-header-bar div{
    background-color: #282828 !important;
    color: white !important;
    font-weight: bold !important;
}

.centering{
    text-align: center;
}

.customBackground {
    background-image: url(../img/background.jpg) !important;
    background-position: center center;
}
.bar.bar-stable{
    box-shadow: 0 2px 0 0 #00d893!important;
}

.popup-buttons .button-default {
    background-color: #01D894;
}

.greenButton {
    background-color: #01D894;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.77);
}
.greenButton2{
    background-color:#3ec355
}
.spinner-ios, .spinner-ios-small{
        stroke: #018259 !important;
}
.greenFooter{
    width: 100%;
    padding: 23px;
    background-color: #01D894;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

.bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: 66px!important;
}
.greyButton {
    background-color: #b2b2b2;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    margin: 10px 0;
}

.row100 {
    width: 100%;
    overflow: hidden;
}

.div90{
     width: 90%;
     margin: 0 auto;
     padding-top: 10px;
 }

.div80{
    width: 80%;
    margin: 0 auto;
}

.noResultsTitle {
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin: 10px 0;
}

.p0 {
    padding: 0;
}

.customInput {
    margin: 20px 0;
    border-bottom: 4px solid #ECECEC;
    border-right: 2px solid #01D894;
}

.customInput input,
.customInput select {
    width: 100%;
    padding: 5px;
    direction: rtl;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: right;
}

.customInputLabel {
    margin: 20px 0;
    border-bottom: 4px solid #ECECEC;
    border-right: 2px solid #01D894;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
}

.customInputLabel input,
.customInputLabel select {
    width: 100%;
    padding: 5px;
    direction: rtl;
    text-align: right;
        padding-right: 15px;
            background-color: rgba(255, 255, 255, 0.22);
}

.customInputLabel select {
    background-color: transparent;
}

.rowSeparator {
    width: 100%;
    height: 1px;
    background-color: #CBD9DC;
}

/*Login*/

.loginInput {
    margin: 10px 0;
    border-bottom: 2px solid #3ec355;
    height: 45px;
}

.loginInputPic {
    width: 12%;
    float: right;
    background-color: #3ec355;
    text-align: center;
    line-height: 45px;
}

.loginInput input {
    width: 88%;
    float: right;
    padding-right: 5px;
    line-height: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.51);
}

.loginInput input::-webkit-input-placeholder{
    color: black !important;
}
/*End of login*/

/*Register*/
.registerSteps {
    width: 225px;
    height: 30px;
    margin: 20px auto 0 auto;
    position: relative;
}

.registerSteps1 {
    position: absolute;
    right: 0;
}

.registerSteps2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.registerSteps3 {
    position: absolute;
    left: 0;
}

.registerStepsLine1 {
    height: 2px;
    width: 180px;
    position: absolute;
    top: 14px;
    right: 30px;
    background-color: #7a8285;
}

.registerStepInactive {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    color: #7a8285;
    text-align: center;
    line-height: 30px;
    border: 1px solid #7a8285;
}

.registerStepActive {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #01D894;
    color: white;
    text-align: center;
    line-height: 30px;
}

.registerStepDivider {

}

.registerRadio {
    width: 50%;
    float: right;
    text-align: center;
}

.registerRadio span {
    line-height: 20px;
    font-size: 20px;
}
/*End of Register*/


/*Register Points*/
.statsGraph circle{
    stroke: black;
}
body .registerPoints {
    direction: rtl !important;
}
.item-complex .item-content, .item-radio .item-content{
    text-align: right!important;
}
.item {
     text-align: right!important;
}

body .registerPoints select {
    left: 0;
    right:auto;
    padding: 0 16px 0 48px;
    direction: rtl;
}

body .registerPoints .item-select:after {
    left: 16px;
    right: auto;
    direction: rtl;
}

.registerPoints label {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-bottom: 4px solid #ECECEC !important;
    border-right: 2px solid #01D894 !important;
    margin: 10px 0 !important;
}

.registerPoints .item-select select{
    background-color: rgba(255, 255, 255, 0.5) !important;
    max-width: 100px;
}

.registerPoints .item {
    width: 100%;
}

.registerPoints .input-label {
    width: 75%;
    max-width: 75%;
    white-space: normal;
    padding-right: 5px;
}
/*End of Register Points*/

/*Attendance*/
.attendanceDate {
    padding-top: 10px;
    width: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #00d893;
    color: white;
    padding-bottom: 9px;
    font-size: 19px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 18px;
    box-shadow: 0 2px 0px 0px #38bf94;
}

.attendanceBack {
    float: right;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    font-size: 50px;
    color: #01D894;
}

.attendanceCenter {
    float: right;
    width: 60%;
        font-size: 19px;
    line-height: 24px;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #000000;
    font-size: 16px;
    background-color: rgba(226, 226, 226, 0);
}

.attendanceForward {
    float: right;
    width: 20%;
    text-align: left;
    padding-left: 10px;
    font-size: 50px;
    color: #01D894;
}

.attendanceHeader {
    width: 21%;
    float: right;
    margin-top: 10px;
    color: white;
    background-color: #01D894;
    font-weight: bold;
    text-align: center;
}

.bigAttendanceHeader {
    width: 25%;
    float: right;
    margin-top: 10px;
    color: white;
    background-color: #01D894;
    font-weight: bold;
    text-align: center;
}

.attendanceIcon {
    width: 8%;
    float: right;
    margin-top: 10px;
    color: white;
    background-color: #01D894;
    font-weight: bold;
    text-align: center;
}

.attendanceFieldWhite {
    width: 21%;
    float: right;
    color: black;
    padding: 6px 0;
    text-align: center;
    background-color: #F0F5F9;
}

.attendanceFieldGrey {
    width: 21%;
    float: right;
    color: black;
    padding: 6px 0;
    text-align: center;
    background-color: #D0D5DB;
}

.attendanceLocationWhite {
    width: 8%;
    float: right;
    color: black;
    padding: 6px 0;
    font-size: 20px;
    text-align: center;
    background-color: #F0F5F9;
}

.attendanceLocationGrey {
    width: 8%;
    float: right;
    color: black;
    padding: 6px 0;
    font-size: 20px;
    text-align: center;
    background-color: #D0D5DB;
}

.bigAttendanceFieldWhite {
    width: 25%;
    float: right;
    color: black;
    padding: 6px 0;
    text-align: center;
    background-color: #F0F5F9;
}

.bigAttendanceFieldGrey {
    width: 25%;
    float: right;
    color: black;
    padding: 6px 0;
    text-align: center;
    background-color: #D0D5DB;
}

.attendanceFieldButtonWhite {
    width: 21%;
    float: right;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #F0F5F9;
}

.attendanceFieldButtonGrey {
    width: 21%;
    float: right;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #D0D5DB;
}

.bigAttendanceFieldButtonWhite {
    width: 21%;
    float: right;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #F0F5F9;
}

.bigAttendanceFieldButtonGrey {
    width: 21%;
    float: right;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #D0D5DB;
}

.attendanceFieldButtonWhite input,
.attendanceFieldButtonGrey input,
.bigAttendanceFieldButtonWhite input,
.bigAttendanceFieldButtonGrey input
{
    width: 100%;
    height: 30px;
    text-align: center;
}

.attendanceFieldButtonWhite input::-webkit-input-placeholder,
.attendanceFieldButtonGrey input::-webkit-input-placeholder,
.bigAttendanceFieldButtonWhite input::-webkit-input-placeholder,
.bigAttendanceFieldButtonGrey input::-webkit-input-placeholder
{
    color: black !important;
}

.attendanceFieldButtonGrey input,
.bigAttendanceFieldButtonGrey input{
    background-color: #D0D5DB;
}

.attendanceFieldButtonWhite input,
.bigAttendanceFieldButtonWhite input{
    background-color: #F0F5F9;
}
/*End of attendance*/

/*Decision popup*/
.decisionPopup .popup {
    background-color: transparent;
    width: 80%;
    height: 400px;
    padding-right: 15px;

}

.decisionPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.decisionPopupMain {
    background-color: #01D894;
    color: white;
    width: 100%;
    height: 180px;
    text-align: center;
    padding-top: 40px;
        border-radius: 5px;
}

.decisionPopupText {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 40px;
}

.decisionPopupLeftButton {
        width: 50%;
    float: right;
    background-color: #09c589;
    padding: 20px 0;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    box-shadow: inset -2px 0px 0px 0px rgba(255, 255, 255, 0.58);
}

.decisionPopupRightButton {
    width: 50%;
    float: right;
    background-color: #09c589;
    color: white;
    padding: 20px 0;
    font-size: 20px;
    border-bottom-right-radius: 5px;
}
/*End of Decision popup*/

/*Requests*/

.requestsRow {
    width: 100%;
    overflow: hidden;
    direction: rtl;
}

.requestsRowIcon {
    width: 15%;
    float: right;
    text-align: center;
    padding: 10px 0;
}

.requestsRowName {
    width: 55%;
    float: right;
    line-height: 60px;
    padding-right: 20px;
}

.requestsRowButton {
    width: 15%;
    float: left;
    text-align: center;
    padding: 10px 0;
}

/*End of requests*/

/*Permissions*/

.permissionsRow {
    width: 100%;
    overflow: hidden;
    direction: rtl;
    margin-left: 10px;
}

.permissionsRowIcon {
    width: 15%;
    float: right;
    text-align: left;
    padding: 10px 0;
}

.permissionsRowName {
    width: 35%;
    float: right;
    line-height: 60px;
    padding-right: 20px;
}

.permissionsRowButton {
    width: 25%;
    float: left;
    text-align: center;
    background-color: #DFDFDF;
    color: #C8C8C8;
    height: 50px;
    margin: 5px 0;
    padding-top: 5px;
}

.permissionsRowButtonGreen {
    background-color: #01D894;
    color: white;
}

.permissionsRowButtonBlack {
    background-color: black;
    color: white;
}
/*End of permissions*/

/*Balance*/
ion-content.balanceHeight {
    display: flex;
}

.balance33 {
    width: 100%;
    height: 33vh;
    text-align: center;
}

.balanceRowSeparator {
    width: 100%;
    height: 2px;
    background-color: white;
}

.balanceHeader {
    /* background-color: #282828; */
    /* color: white; */
    /* padding: 5px 10px; */
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    padding-top: 12px;
    width: 135px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #00d893;
    color: white;
    padding-bottom: 9px;
    font-size: 19px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 18px;
    box-shadow: 0 2px 0px 0px #38bf94;
    padding: 16px;
}

.balanceRow1Header {
    text-align: left;
    color: white;
    font-weight: bold;
    padding-left: 10%;
}

.balanceRow2Header {
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 5% 0 0 10%;
}

.balanceRow3Header {
    text-align: left;
    color: black;
    font-weight: bold;
    padding: 5% 0 0 10%;
}

.balanceAmount {
    line-height: 100%;
    padding-top: 7vh;
    font-size: 7vh;
    color: white;
}

.eqWrap,
.eqWrap>.scroll {
    display: flex;
    flex-direction: column;
}
.eqWrap>.scroll {
    height: 100vh;
    text-align: center;
}

.equalHW {
    flex: 1;
}

.equalHMWrap {
    justify-content: space-between;
}
/*End of balance*/

/*Employees*/

.employeesSearch {
    width: 80%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    direction: rtl;
    padding: 0 10px;
}

.employeesRow {
    width: 100%;
    overflow: hidden;
    direction: rtl;
    background-color: rgba(255, 255, 255, 0.5);
}

.employeesRowIcon {
    width: 15%;
    float: right;
    text-align: left;
    padding: 10px 0;
}

.employeesRowName {
    width: 35%;
    float: right;
    line-height: 60px;
    padding-right: 20px;
}

.employeesOptions {
    width: 25%;
    float: right;
    line-height: 60px;
    text-align: center;
}

/*End of employees*/

/*Hours*/
.hoursDate {
    float: right;
    width: 60%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
/*End of Hours*/

/*Profile for manager*/
.pfmInput {
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid #ECECEC;
    border-right: 2px solid #01D894;
    width: 100%;
    padding: 5px;
    direction: rtl;
    text-align: right;
    color: #898989;
    overflow: hidden;
}

.pfmInputRight {
    width: 35%;
    float: right;
}

.pfmInputLeft {
    width: 65%;
    float: right;
}
/*End of Profile for manager*/

/*Location*/
#map{
    z-index:1;
    position:relative;
    width:100%;
    height:100%;
    margin-top:0;
}
.mapWrapper{
    width: 100vh;
    height: 100vh;
}
/*End of location*/

/*Income + modal*/
.incomeHeaderDesc{
        width: 70%;
    float: right;
    background-color: #01D894;
    text-align: center;
    padding: 6px;
    font-size: 17px;
}

.incomeHeaderAmount{
    width: 30%;
    float: right;
    background-color: #01D894;
    text-align: right;
    padding: 6px;
    font-size: 17px;
}

.incomeTrash {
    width: 10%;
    float: right;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.incomeDesc{
    width: 60%;
    float: right;
    text-align: right;
    font-size: 16px;
    padding: 10px 12px 10px 7px;
    background-color: rgba(255, 255, 255, 0.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.incomeAmount{
    width: 30%;
    float: right;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.incomeDetailsRight {
    width: 30%;
    float: right;
    padding: 3px;
    text-align: center;
}

.incomeDetailsLeft {
    width: 70%;
    float: right;
    padding: 3px;
    text-align: right;
}

.modalName {
    width: 80%;
    float: right;
    padding-right: 5px;
    line-height: 35px;
}

.modalToggle {
    width: 20%;
    float: right;
    text-align: left;
}
/*End of Income + modal*/

/*Statistics*/
.statsCard {
    width: 33%;
    float: right;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 5px 0 10px 0;
}

.statsCardHeader {
    font-weight: bold;
}

.statsCardSeparator {
    width: 0.5%;
    float: right;
}

.statsGreenSeparator {
    width: 90%;
    margin: 3px auto 10px auto;
    height: 2px;
    background-color: #01D894;
}

.statsCircles {
    width: 50%;
    float: right;
    padding: 10px;
}

.statsCircle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.statsCircleText {
    font-size: 10px;
    padding-top: 20px;
}

.statsCircleNumber {
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
}

.statsGraph {
    width: 90%;
    margin: 0 auto;
}
.mainLogo{
    width:80%;
}
@media screen and (min-width: 500px){
ion-nav-view{
    width: 1000px!important;
    margin: 0 auto!important;
    margin-left: 50%!important;
    left: -500px!important;
           box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.15);
    border-right: 2px solid rgba(1, 216, 148, 0.8);
    border-left: 2px solid rgba(1, 216, 148, 0.8);
}
.customBackground {
    background-size: 100%;
}
body{
       /* background-image: url(../img/background.jpg) !important;
    background-position: center center;
    background-size: 100%;*/
        background-color: #282828;
}
.mainLogo{
    width:300px;
}
.loginPageWrapper{
    width: 350px;
}
}